<!DOCTYPE html>
<html>
<head>
    <title>   Angular Hydrant Connection   </title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>-->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/jquery-2.1.1.min.js"></script>

    <script src="Scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="app/Controller/MainController.js"></script>
    <script src="app/Controller/GridController.js"></script>
    <script src="app/app.js"></script>
    
    

</head>
<body>
    <div ng-app="app" ng-controller="MainController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Location</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{selectedLocation.district_Name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="x in Districts" ng-click="ChangeLocation(x)"><a>{{x.district_Name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="btn btn-default" placeholder="Search" />
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </div>
        </nav>
        <div ng-view>
            <ul class="dropdown-menu">
                <li ng-repeat="x in Districts" ><a>{{x.district_Name}}</a></li>
            </ul>

        </div>
    </div>

</body>
</html>